# if bash shell is running use vi settings
# it is necessary to not mess inside python interprete
$if Bash
	# Show all completions after single tab
	set show-all-if-ambiguous on
	# ignore case of input while tab pressing
	set completion-ignore-case on
	# on menu-complete, first display the common prefix, then cycle through the options when hitting TAB
	set menu-complete-display-prefix on

	TAB: menu-complete

	"\e[Z": menu-complete-backward

$endif
